body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.5;
    max-width: 100%;
    overflow-x: hidden;
}

#nav-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #f5f5f5;
    width: 100%;
    box-shadow: 0px 1px 7px #222;
    font-family: 'Maitree',
        serif;
}

#nav-logo {
    position: fixed;
    top: 2px;
    left: 25px;
    height: auto;
    width: 260px;
}

#nav-logo img {
    height: auto;
    width: 260px;
}

#nav-logo a:hover {
    background-color: transparent;
}

#log-in {
    background-color: #cdb723;
}

#log-in a {
    color: #333;
}

#icon {
    display: none;
}

.topnav {
    overflow: hidden;
    background-color: #f5f5f5;
    width: 100%;
    /* height: 60px; */
    box-shadow: 0px 1px 7px #222;
    font-family: 'Maitree',
        serif;
}

.topnav a:hover {
    color: #cdb723;
}

.topnav #log-in:hover {
    background-color: #333;
    color: white;
}

.topnav a {
    float: right;
    display: block;
    height: 60px;
    color: #333;
    text-align: center;
    padding: 16px 16px;
    font-size: 17px;
    text-decoration: none;
}

/*Style for the People page*/

.container h4 {
    color: #cdb723;
}

.container img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.container-advisors {
    text-align: center;
}

.title-advisors {
    font-size: 30px;
    color: #cdb723;
    font-family: 'Maitree',
        serif;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #cdb723;
}


@media screen and (max-width: 1024px) {
    .topnav a {
        display: none;
    }

    #icon {
        color: #cdb723;
        font-size: 25px;
        float: right;
        display: block;
        width: 40px;
        margin-right: 15px;
        height: auto;
        padding: 13px 16px;
    }
}