p,
li {
    font-size: 20px;
    text-align: left;
    padding-top: 7px;
    padding-right: 15px;
    padding-left: 15px;
}

.hero {
    height: 50px;
    font-size: 30px;
    margin-bottom: 8px;
}

h1 {
    padding-top: 5px;
    height: 50px;
}

.stick-bot {
    min-height: 67vh;
}

.decor {
    color: #FBC033;
}

.le-decor {
    font-weight: 200 !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid lightgrey;
    padding-left: 10px;
}

th,
td {
    padding: 11px;
}

.bulletPoint {
    padding-top: 10px;
    float: left;
}

.lptable {
    background-color: lightgray;
    text-align: center;
}

#newLP {
    padding-left: 15%;
}

.lpinput {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.lpinputTitle {
    float: left;
    width: 140px;
    margin-left: 12px;
    font-size: 17px;
    margin-bottom: 15px;
}

#lpInputButton {
    /* padding-top: 7px;
    margin-left: 120px; */
    margin-left: calc(100% - 320px);
}
